<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" #username></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" #password></ion-input>
    </ion-item>

  </ion-list>
  <div padding>
    <button block ion-button (click)="signInUser()">Sign In</button>
  </div>
</ion-content>

