<ion-tabs>
    <ion-tab [root]="feedRoot" tabTitle="Feed" tabIcon="ios-paper-outline"></ion-tab>
    <ion-tab [root]="peopleRoot" tabTitle="People" tabIcon="ios-people-outline"></ion-tab>
    <ion-tab [root]="categoriesRoot" tabTitle="Categories" tabIcon="ios-list-outline"></ion-tab>
    <ion-tab [root]="profileRoot" tabTitle="Profile" tabIcon="ios-contact-outline"></ion-tab>
</ion-tabs>
