<!--
  Generated template for the FeedPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Feed</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background:#f7f7f7;">
  <!-- Refresh to get the new posts -->
  <!--<ion-refresher pulling-text="Pull to refresh..." on-refresh="getNewData()">
  </ion-refresher>-->

  <div class="row filtered-feed-header-outer">
    <!-- <div class="col filtered-feed-header">
       <div multi-bg="[current_category.image]" interval="3000" helper-class="category-with-image">
         <div class="filtered-feed-header-content">
           <h2 class="header-title">{{email}}</h2>
         </div>
       </div>
     </div>-->
    <!--<div  class="col filtered-feed-header">
      <div multi-bg="[current_trend.image]" interval="3000" helper-class="category-with-image">
        <div class="filtered-feed-header-content">
          <h2 class="header-title">{{email}}</h2>
        </div>
      </div>
    </div>-->
  </div>

  <div class="card new-post" style="">
    <div class="item item-avatar" style="">
      <div class="card-avatar-image-outer">
        <img class="profile-avatar" src="https://www.studentbrands.co.za/wp-content/uploads/2018/04/SIGNING-741x486.jpg" style="">
        <!-- <pre-img ratio="_1_1" helper-class="avatar-image">
           <img spinner-on-load>
         </pre-img>-->
      </div>
      <a class="new-post-call-to-action" ng-click="newStatusPost()">
        <h3 class="new-post-copy" style="">What's on your mind?</h3>
      </a>
    </div>
    <div class="item tabs tabs-icon-left">
      <a class="tab-item" ng-click="newStatusPost()">
        <i class="icon ion-edit"></i>
        Status
      </a>
      <a class="tab-item" ng-click="newImageStatusPost()">
        <i class="icon ion-camera"></i>
        Photo
      </a>
      <a class="tab-item" ng-click="checkinStatusPost()">
        <i class="icon ion-location"></i>
        Checkin
      </a>
    </div>
  </div>

  <div class="feed-cards-outer">
    <!---->
    <div class="card-1">
      <div class="list card">
        <div class="item item-image">
          <a class="card-image-anchor">

            <img class="post-image" src="https://www.studentbrands.co.za/wp-content/uploads/2018/04/SIGNING-741x486.jpg">

          </a>
        </div>
        <div class="item item-body">
          <a>
            <h2 class="card-title">Fuck Boys, a crew not to be fucked with.</h2>
          </a>
        </div>
        <div class="item item-avatar">
          <div class="card-avatar-image-outer">
            <img class="profile-avatar" src="https://www.studentbrands.co.za/wp-content/uploads/2018/04/SIGNING-741x486.jpg" style="">
            <!-- <pre-img ratio="_1_1" helper-class="avatar-image">
               <img spinner-on-load>
             </pre-img>-->
          </div>
          <a class="new-post-call-to-action" ng-click="newStatusPost()">
            <h3 class="" id="avatar-title-id" style="">Jackie Brown</h3>
            <h3 class="" id="timestamp-id" style="">2 Hours Ago</h3>
          </a>

          <!--USE THESE WHEN CONNECTING BAKEND-->
          <!-- <a>
             <h2 class="avatar-title">Jackie Brown</h2>
           </a>
           <p class="avatar-description"><span am-time-ago="card.date"></span></p>
           <a>
             <span class="card-tag post-category">Catagory Name</span>
           </a>-->
        </div>
        <div class="actions-brief">
          <a class="subdued">100 Likes</a>
          <a ng-controller="CommentsCtrl" ng-click="showComments(card)" class="subdued">20 Comments</a>
          <a class="subdued">15 Shares</a>
        </div>
        <div class="item tabs tabs-icon-left">
          <a class="tab-item" ng-class="{liked: card.liked}">
            <i class="icon theme-icon icon-like"></i>
            Like
          </a>
          <a class="tab-item" ng-controller="CommentsCtrl" ng-click="showComments(card)">
            <i class="icon theme-icon icon-bubble"></i>
            Comment
          </a>
          <a class="tab-item" social-share share="card">
            <i class="icon theme-icon icon-share"></i>
            Share
          </a>
        </div>
      </div>
    </div>
    <!---->

    <!-- CARD REPEATER -->
    <!--<div ng-if="cards.length > 0" ng-repeat="card in cards" class="post-card-outer">
       <section ng-include="'views/app/partials/feed-post-card.html'" class="post-card-outer"></section>
      <!--<section ng-include="'src/partials/feed-post-card.html'"></section>-->
  </div>

  <!-- WHEN THERE ARE NO POSTS -->
  <!--<div class="row row-center empty-feed-outer">
    <div class="col">
      <i class="empty-feed-icon icon ion-sad-outline"></i>
      <h2 class="empty-feed-text">No posts here</h2>
    </div>
  </div>-->


  <!-- Infinit scroll-->
  <ion-infinite-scroll  on-infinite="loadMoreData()" distance="2%">
  </ion-infinite-scroll>
</ion-content>
