<!--<ion-header>
 <ion-navbar>
   <ion-title>
     Social Network
   </ion-title>
 </ion-navbar>
</ion-header>-->

<ion-content padding id="welcome" color="primary">
  <div class="center-align"><img src="assets/imgs/download.png" class="sb-logo"/></div>
  <h1 id="welcome-title">Welcome</h1>
  <div id="welcome-desc">Login in or sign up</div>
  <div padding>
    <button block ion-button (click)="signIn()" id="sign-up-btn" color="dark">Sign In</button>
  </div>
  <div padding>
    <button block ion-button (click)="register()" color="dark-light">Register</button>
  </div>

</ion-content>