page-welcome {
  #header{
    background: color($colors, dark);
  }
  #welcome{
    background: color($colors, primary);
  }
  #welcome-title{
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
  }
  #welcome-desc{
    text-align: center;
    font-size: 25px;

  }
  #sign-up-btn{
    margin-top: 50px;
  }
  .sb-logo{
    width:100px;
    height: 100px;
  }
  .center-align{
    text-align: center;
  }
}
