<!--
  Generated template for the LoggedinPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Hey User {{email}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list inset>
    <ion-item *ngFor="let user of users">
      <h2>{{user.title}}</h2>
      <p>{{user.content}}</p>
    </ion-item>
  </ion-list>
</ion-content>
